.container {  display: grid;
    grid-template-columns: 0.9fr 2.3fr 0.7fr;
    grid-template-rows: 0.5fr 0.3fr 2.9fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Logo Butt Butt"
      "Navi Head Head"
      "Navi Cont Cont"
      "Foot Foot .";
  }
  
  .Logo { grid-area: Logo; background-color: blue;}
  
  .Navi { grid-area: Navi; background-color: lightblue;}
  
  .Foot { grid-area: Foot;}
  
  .Butt { grid-area: Butt; background-color: gray;}
  
  .Head { grid-area: Head; }
  
  .Cont { grid-area: Cont; }
  