p {
    text-align: center;
    text-shadow: 2px 2px 5px red;
}

.headers {
    text-align: center;
    text-shadow: 2px 2px 5px black
}

.hell {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(62, 189, 23);
    text-align: center;
    text-shadow: 5px 5px 12px rgb(0, 255, 0);
    background-color: black;
}