p {
    text-align: center;
    text-shadow: 2px 2px 5px red;
}

.headers {
    text-align: center;
    text-shadow: 2px 2px 5px black
}

.hell {
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    text-align: center;
}